{% assign repo_url =  include.repository | split: '/' %}

{% if site.data.repositories.github_users contains repo_url.first %}
  {% assign show_owner = false %}
{% else %}
  {% assign show_owner = true %}
{% endif %}

<div class="repo p-2 text-center">
  <a href="https://github.com/{{ include.repository }}">
    <img class="w-100 mb-2"
         src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
         alt="GitHub logo">

    <div class="repo-name">{{ repo_url.last }}</div>
  </a>
</div>


