---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{ site.max_width }};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill"
;

/* --- MY CUSTOMIZATIONS --- */
/* Hide dark-mode images by default */
.only-dark {
  display: none !important;
}

/* Hide light-mode images when the html has the [data-theme='dark'] attribute */
html[data-theme='dark'] .only-light {
  display: none !important;
}

/* Show dark-mode images when the html has the [data-theme='dark'] attribute */
html[data-theme='dark'] .only-dark {
  display: block !important;
}


.repo-container {
  background-color: var(--global-bg-color);
  width: 100%; /* Makes them stack nicely on mobile */
  max-width: 48%; /* Allows two per row on desktop */
  min-height: 250px; /* Keeps boxes consistent */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.repo-recommendation {
  font-size: 0.9rem;
  line-height: 1.4;
  border-top: 1px solid var(--global-divider-color);
  padding-top: 10px;
}

/* --- END OF MY CUSTOMIZATIONS --- */